install pymongo

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.2/677.2 kB 5.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 7.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.2

import libraries

In [4]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

connect to mongo db instance

In [5]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [6]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

print list of database names in instance

In [7]:
client.list_database_names()

['DS2002Final',
 'StoreProducts',
 'api_project',
 'blog',
 'project',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'admin',
 'local']

Exercise 2: Creating and Using a Database

Create a database called <yourname>_class
Print a list of collections in the database.

In [10]:
db_name = "grace_class"

db = client[db_name]
db.list_collection_names()

[]

Exercise 3: Creating a Collection and Inserting Documents

Create a collection named students.
Insert a single document into the students collection. Let it have 5 key value pairs
Insert multiple documents into the students collection in one operation.

In [11]:
student1 = {"fname": "Sydney",
            "lname": "Brown",
            "id": 73279,
            "major": "Chemistry",
            "email": "fh3wid@virginia.edu"
            }

students = db.students
students.insert_one(student1)

InsertOneResult(ObjectId('65fdc0db00f85a8fd3c83f8f'), acknowledged=True)

In [12]:
new_students = [{"fname": "Candace",
            "lname": "Nelson",
            "id": 38573,
            "major": "Computer Science",
            "email": "ns6fgs@virginia.edu"
            },
                {"fname": "Jason",
            "lname": "Li",
            "id": 38392,
            "major": "Computer Science",
            "email": "gh3shd@virginia.edu"
            },
                {"fname": "Sasha",
            "lname": "Peters",
            "id": 38420,
            "major": "Architecture",
            "email": "dk9adl@virginia.edu"
            },
]
students.insert_many(new_students)

InsertManyResult([ObjectId('65fdc1ef00f85a8fd3c83f90'), ObjectId('65fdc1ef00f85a8fd3c83f91'), ObjectId('65fdc1ef00f85a8fd3c83f92')], acknowledged=True)

Exercise 4: Querying Documents

Perform a query to find all documents in the students collection.
Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl

In [19]:
for student in students.find():
    pprint.pprint(student)

print("\n")
pprint.pprint(students.find_one({"fname" : "Jason"}))

{'_id': ObjectId('65fdc0db00f85a8fd3c83f8f'),
 'email': 'fh3wid@virginia.edu',
 'fname': 'Sydney',
 'id': 73279,
 'lname': 'Brown',
 'major': 'Chemistry'}
{'_id': ObjectId('65fdc1ef00f85a8fd3c83f90'),
 'email': 'ns6fgs@virginia.edu',
 'fname': 'Candace',
 'id': 38573,
 'lname': 'Nelson',
 'major': 'Computer Science'}
{'_id': ObjectId('65fdc1ef00f85a8fd3c83f91'),
 'email': 'gh3shd@virginia.edu',
 'fname': 'Jason',
 'id': 38392,
 'lname': 'Li',
 'major': 'Computer Science'}
{'_id': ObjectId('65fdc1ef00f85a8fd3c83f92'),
 'email': 'dk9adl@virginia.edu',
 'fname': 'Sasha',
 'id': 38420,
 'lname': 'Peters',
 'major': 'Architecture'}


{'_id': ObjectId('65fdc1ef00f85a8fd3c83f91'),
 'email': 'gh3shd@virginia.edu',
 'fname': 'Jason',
 'id': 38392,
 'lname': 'Li',
 'major': 'Computer Science'}

Exercise 5: Updating Documents

Update a specific document in the students collection.
Update multiple documents based on a specific condition.

In [26]:
query = { "lname": "Peters" }
newvalues = { "$set": { "lname": "Peterson" } }

students.update_one(query, newvalues)

query2 = {"major": "Computer Science"}
newvals2 = {"$set": {"major" : "Data Science"}}
students.update_many(query2, newvals2)

for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('65fdc1ef00f85a8fd3c83f92'),
 'email': 'dk9adl@virginia.edu',
 'fname': 'Sasha',
 'id': 38420,
 'lname': 'Peterson',
 'major': 'Architecture'}

Exercise 6: Deleting Documents

Delete a specific document from the students collection.
Delete multiple documents based on a specific condition.

In [25]:
db.students.delete_one({"lname":"Brown"})
db.students.delete_many({"major":"Data Science"})

for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('65fdc1ef00f85a8fd3c83f92'),
 'email': 'dk9adl@virginia.edu',
 'fname': 'Sasha',
 'id': 38420,
 'lname': 'Peterson',
 'major': 'Architecture'}